.loginbox-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  background-color: #302e2e;
  color: white;
}

.loginbox-container-prelogin-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-transform: none;
}

.loginbox-container-prelogin-icon {
  font-size: 40px;
  padding: 0 30px;
}

.loginbox-container-prelogin-box-contents {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
}

.loginbox-container-prelogin-box-contents p {
  /* padding: 10px 0; */
  margin: 0;
}

.loginbox-container-prelogin-box-contents-header {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
}

.loginbox-container-prelogin-box-contents button:nth-child(3) {
  width: 80px;
  height: 30px;
  background-color: #592baf;

  color: white;
  outline: 0;
  border: 0;
  font-weight: 600;
  position: absolute;
  right: 10px;
  bottom: 45px;
  border-radius: 3px;
  cursor: pointer;
  /* font-size: 14px; */
}

.loginbox-container-prelogin-box-contents button:nth-child(3):hover {
  background-color: #9b70ec;
  color: white;
}

.loginbox-container-prelogin-box-contents button:nth-child(3):active {
  background-color: #724dba;
  color: white;
}

.loginbox-container-prelogin-signup {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  left: 95px;
  font-weight: 400;
  font-size: 12px;
  color: #e4a400;
  cursor: pointer;
}

.loginbox-container-prelogin-signup span:hover {
  color: #ffd058;
}

.loginbox-container-prelogin-signup span:active {
  color: #b78401;
}
.loginbox-form {
  margin-left: 25px;
  font-weight: 500;
  font-size: 14px;
  width: 350px;
}

.loginbox-form-header {
  margin: 0;
  padding: 4px 0;
  font-weight: 600;
}

.loginbox-form-text {
    margin: 2px 25px 0 0px;
  padding: 0;
  width: 75px;
  display: inline-block;
}

.loginbox-form-header input {

  height: 23px;
  padding: 0 0 0 2px;
  outline: 0;
  border: 0;
  font-weight: 300;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  /* border-bottom: 1px dotted #6A706C; */
  background-color: #262526;
  border-radius: 1px;
  width: 150px;
  color: white;
}

.loginbox-form-header input[type="password"] {
  font-family: caption;
  font-size: 20px;
}

.loginbox-form-passwordreset {
  padding-top: 15px;
  font-size: 10px;
  cursor: pointer;
}

.loginbox-form-passwordreset:hover {
  color: #b0b4b1;
}

.loginbox-form-passwordreset:active {
  color: #898f8b;
}

.loginbox-form-submit button:nth-child(1) {
  width: 70px;
  height: 63px;
  background-color: transparent;
  color: white;
  outline: 0;
  border: 0;
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 30px;
  font-size: 30px;
  cursor: pointer;
}

.loginbox-form-submit button:nth-child(1):hover {
  color: #9b70ec;
}

.loginbox-form-submit button:nth-child(1):active {
  color: #724dba;
}

.loginbox-form-error {
	-webkit-animation: loginbox-form-error 0.5s both;
	        animation: loginbox-form-error 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-15 22:50:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes loginbox-form-error {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(228, 22, 0, 0.35);
            box-shadow: 0 0 0 rgba(228, 22, 0, 0.35);
  }
  100% {
    -webkit-box-shadow: 0 0 5px rgba(228, 22, 0, 1.0);
            box-shadow: 0 0 5px rgba(228, 22, 0, 1.0);
  }
}
@keyframes loginbox-form-error {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(228, 22, 0, 0.35);
            box-shadow: 0 0 0 rgba(228, 22, 0, 0.35);
  }
  100% {
    -webkit-box-shadow: 0 0px 5px rgba(228, 22, 0, 1.0);
            box-shadow: 0 0px 5px rgba(228, 22, 0, 1.0);
  }
}
