.navbar-aboutapp-text button {
  border: 0px;
  outline: 0px;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-aboutapp-text button:hover {
  color: #b0b4b1;
}

.navbar-aboutapp-text button:active {
  color: #898f8b;
}

.navbar-aboutapp-showcontentbox {
  display: inline-block;
  position: relative;
}

.navbar-aboutapp-showcontentbox-content {
  position: absolute;
  right: 5px;
  width: 400px;
  max-height: 300px;
  height: 300px;
  top: 10px;
  z-index: 3;
  background-color: rgba(39, 45, 41, 0.90);
  backdrop-filter: blur(2px);
  text-transform: none;
  font-size: 12px;
  padding: 5px 10px;
  outline: 1px dotted #e4a400;
  outline-offset: 1px;
}

.navbar-aboutapp-showcontentbox-content button {
  position: absolute;
  right: 10px;
  margin-bottom: 10px;
}

.navbar-aboutapp-showcontentbox-content-textcenter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
}

.navbar-aboutapp-showcontentbox-content-logo {
  width: 20px;
  padding-right: 5px;
}

.navbar-aboutapp-showcontentbox-content-ih {
  width: 35px;
}

.navbar-aboutapp-showcontentbox-content-textborder {
  border-bottom: 1px dotted #ffc32a;
  display: inline-block;
}

.navbar-aboutapp-showcontentbox-content-scrollbar {
  overflow-y: auto;
  scrollbar-color: #e4a400 #272d29;
  scrollbar-width: thin;
}

.navbar-aboutapp-showcontentbox-content::-webkit-scrollbar {
  width: 8px;
  background-color: #272d29;
}

.navbar-aboutapp-showcontentbox-content::-webkit-scrollbar-thumb {
  background-color: #e4a400;
}

.navbar-aboutapp-showcontentbox-content::-webkit-scrollbar-track {
  background-color: #272d29;
}
