.navbar-profile-text button {
  border: 0px;
  outline: 0px;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit;
}

.navbar-profile-text button:hover {
  color: #e4a400;
}

.navbar-profile-text button:active {
  color: #ffd059;
}

.navbar-profile-showcontentbox {
  display: inline-block;
  position: relative;
}

.navbar-profile-showcontentbox-content-inside {
  /* Works due to the earlier position: relative declaration */
  position: absolute;
  right: 5px;
  width: 400px;
  height: 122px;
  top: 10px;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: blue;
}
