.input-range__slider {
  appearance: none;
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin-left: -0.5rem;
  margin-top: -0.60rem;
  outline: none;
  position: absolute;
  top: 50%;
  width: 12px;
z-index: 1; }

.input-range__label--value {
  position: absolute;
  color: #6a706c;
  font-size: 1px;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }

  .input-range__label--min,
.input-range__label--max {
  bottom: 20px;
  position: relative; }


.input-range__track {
  background: #302E2E;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }


.input-range {
  height: 1rem;
  position: relative;
  width: 100%; }
