.grid-block-save {
  display: flex;
  justify-content: center;
  background-color: #592baf;
  width: 96px;
  padding-left: 12px;
  position: relative;
}

.grid-block-save button {
  width: 96px;
  height: 100%;
  font-weight: 600;
  font-size: 12px;
  background-color: #592baf;
  color: white;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}

.floating-save-box {
  position: absolute;
  top: -124px;
  left: -288px;
  width: 400px;
  height: 122px;
  background-color: #302E2E;
  color: white;
  font-weight: 600;
  font-size: 12px;
  z-index: 1;
}

.floating-save-box-close {
  position: absolute;
  right: 5px;
  font-size: 18px;
  align-self: flex-start;
}

.floating-save-box-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.floating-save-box-container-fields p {
  padding: 0 0 0 5px;
  margin: 0;
}

.floating-save-box-container-fields input {
  margin: 25px 0 15px 0;
  
  width: 100%;
  height: 20px;
  background-color: #592BAF;
  color: white;
  outline: 0;
  border: 0;
  font-weight: 300;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  /* border-bottom: 2px dotted #9B70EC; */
  border-radius: 2px;
}

.floating-save-box-container button {
  width: 70px;
  height: 30px;
  background-color: #592baf;
  color: white;
  outline: 0;
  border: 0;
  font-weight: 600;
  position: absolute;
  right: 20px;
  bottom: 15px;
  border-radius: 3px;
}

.floating-save-box-container-fields-exists {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.floating-save-box-container-fields-error {
  font-weight: 600;
  font-size: 30px;
}

.floating-save-box-container-fields-btnyes button {
  background-color: #592baf;
  color: white;
  outline: 0;
  border: 0;
  font-weight: 600;
  position: absolute;
  right: 45px;
  bottom: 55px;
  border-radius: 3px;
}

.floating-save-box-container-fields-btnno button {
  background-color: #592baf;
  color: white;
  outline: 0;
  border: 0;
  font-weight: 600;
  position: absolute;
  right: 45px;
  bottom: 10px;
  border-radius: 3px;
}


.floating-save-box-container-saved {
  text-align: center;
  color: white;
  font-weight: 600;
}

.floating-save-box-container-saved-icon {
  font-size: 20px;
  padding: 0 20px;
}

.floating-save-box-container-saved button {
  width: 70px;
  height: 30px;
  background-color: #592baf;
  color: white;
  outline: 0;
  border: 0;
  font-weight: 600;
  position: absolute;
  right: 20px;
  bottom: 30px;
  border-radius: 3px;
}

.floating-save-box-container-patternerror {
  color: white;
  font-weight: 600;
}

.floating-save-box-container-patternerror-icon {
    font-size: 20px;
  padding: 0;
  margin: 0;
}

.floating-save-box-container-patternerror p:first-of-type {
    width: 70%;
  margin: 0;
  padding: 10px 0 0 8px;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

.floating-save-box-container-patternerror p {
    width: 70%;
  margin: 0;
  padding: 2px 0 0 8px;
  font-weight: 400;
  font-size: 12px;
    text-align: left;
}

.floating-save-box-container-patternerror span{
  margin: 0;
  padding: 0 0 0 10px;
}